
body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
	margin-top: 50px;
    padding: 10px;
    border: 1px #0800FF solid;
}

legend {
    font-weight: bold;
    color: #0800FF;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .erreur {
    color: #FF0000;
}

form .succes {
    color: #01DF01;
}
